# ─── App ───────────────────────────────────────
APP_NAME=
APP_VERSION=
DEBUG=

# ─── MongoDB ────────────────────────────────────
MONGO_URI=
MONGO_DB_NAME=

# ─── Redis ──────────────────────────────────────
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
# REDIS_PASSWORD=
REDIS_CACHE_TTL=
